{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "@babel/transform-async-to-generator",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}
