{
  "global": {
    "probe_N_IPs_simultaneously": 10,
    "http_socket_timeout": 10000,
    "rescan_list_delay": 5000,
    "access_key": "Get free api key from https://ipstack.com/"
  },

  "instances": {
    "dash": {
	    "port": 7903,						
    	"currency": "DASH",
    	"addr_file": "/opt/p2pool/data/dash/addrs",
    	"init_file": "data/p2pool-dash-init.txt",
    	"store_file": "data/p2pool-dash-public.json"
  },

    "ltc": {
  	  "port": 9327,	
    	"currency": "Litecoin",
    	"addr_file": "/opt/p2pool/data/litecoin/addrs",
    	"init_file": "data/p2pool-litecoin-init.txt",
    	"store_file": "data/p2pool-litecoin-public.json"
    },

    "btc": {
  	  "port": 9334,
    	"currency": "Bitcoin",
    	"addr_file": "/opt/p2pool/data/bitcoin/addrs",
    	"init_file": "data/p2pool-bitcoin-init.txt",
      "store_file": "data/p2pool-bitcoin-public.json"
    }
  }
}
